.photo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
}

.photo-item {
    width: 171.5px;
    height: 200px;
    /* width: calc(100% / 8 - 3 * (8 - 1) / 8); */
    margin-right: 3px;
    cursor: pointer;
    /* overflow: hidden; */
    margin-bottom: 10px;
    border-radius: 5px;
    /* border-radius: 10px; */
    /* display: inline-block; */
}

.photo-item:nth-of-type(8n) {
    margin-right: 0;
}

.photo-item__img {
    /* width: 172px;
    object-fit: cover;
    height: auto; */
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
}

.photo-item__img:hover {
    transform: scale(1.2);
}
  
@media (max-width: 1400px) {
    .photo-item:nth-of-type(4n) {
        margin-right: 0;
    }
}

@media (max-width: 695px) {
    .photo-item {
        width: 100%;
        height: auto;
        min-width: 200px;
        margin-right: 0;
        padding: 0 15px;
    }
    .photo-item__img {
        margin: 0 auto;
    }
    .photo-item__img:hover {
        transform: scale(1.04);
    }
}