.hamburger-menu__container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    animation-duration: 300ms;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 50;
}
  
.hamburger-menu {
    display: block;
}
  
#menu__toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#menu__toggle:checked ~ .hamburger-btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .hamburger-btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .hamburger-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
  
#menu__toggle:checked ~ .hamburger-menu__box {
    visibility: visible;
    left: 0;
}
  
#menu__toggle:checked ~ .hamburger-menu__container {
    visibility: visible;
}
  
.hamburger-btn > span,
.hamburger-btn > span::before,
.hamburger-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.45s;
}
.hamburger-btn > span::before {
    content: '';
    top: -14px;
}
.hamburger-btn > span::after {
    content: '';
    top: 14px;
}

.hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hamburger-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 15px;
    cursor: pointer;
    z-index: 101;
}
  
.hamburger-menu__box {
    overflow-y: auto;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    transition-duration: 0.35s;
    z-index: 100;
}
  
.hamburger-menu-item__name {
    display: flex;
    align-items: center;
}

.hamburger-menu__box-header {
    padding: 52px 15px;
    border-bottom: 2px solid rgba(255, 169, 10, 0.7);
}

.hamburger-menu__box-list {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 30px;
    
}

.hamburger-menu__box-logo {
    display: flex;
    align-items: center;
}

.hamburger-menu__box-logo-img {
    width: 45px;
    height: auto;
}

.hamburger-menu__box-logo-title {
    margin-left: 15px;
    font-size: 26px;
}

.hamburger-menu__box-item, .hamburger-menu__box-item--active {
    text-decoration: none;
    color: black;
    font-size: 23px;
    margin-bottom: 30px;
}

.hamburger-menu__box-item--active {
    color: rgb(86, 86, 86);
    text-decoration: underline;
}
  
@media screen and (max-width: 695px) {
    .hamburger-menu {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 695px) {
    .hamburger-menu {
        width: auto;
        height: auto;
        display: none;
    }
}
